ul {
  list-style-type: none;
  background-color: rgb(98, 66, 15);
  font-family: "Sigmar", cursive;
  padding: 10px;
  display: flex;
  justify-content: right;
}

li {
  display: inline;
  padding: 20px;
  font-family: "Sigmar", cursive;
}

p {
  font-family: "Courier New";
}

a {
  color: white;
  text-decoration: none;
}
