.animalContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.allAnimals {
  background-color: beige;
  padding: 50px;
  margin: 20px;
  align-items: center;
  width: 20%;
  flex-direction: column;
}

img {
  max-width: 30%;
  border: dotted pink;
}

h1 {
  color: black;
  font-family: "Sigmar", cursive;
}
