@use "variables" as v;
@use "mixins";

.animalContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include mixins.desktop {
  }
}

.allAnimals {
  background-color: beige;
  padding: 10px;
  margin: 10px;
  height: 500px;
  align-items: center;
  width: 35%;
  flex-direction: column;
  display: flex;
  border-radius: 5px;

  @include mixins.desktop {
    padding: 20px;
    margin: 20px;
    height: 550px;
    width: 20%;
  }

  &__name {
    font-size: 20px;
    font-family: "Sigmar", cursive;
    font-size: 25px;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__image {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    height: 50px;

    @include mixins.desktop {
      height: 200px;
    }
  }

  &__shortdescription {
    color: rgb(98, 66, 15);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;

    @include mixins.desktop {
      width: 250px;
      font-size: 14px;
    }
  }

  &__link {
    color: rgb(98, 66, 15);
    font-family: "Sigmar", cursive;
    bottom: 0;
    font-size: 14px;

    @include mixins.desktop {
      font-size: 20px;
    }

    &:hover {
      color: pink;
    }
  }

  &__fed {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;

    @include mixins.desktop {
      font-size: 12px;
    }
  }

  &__feedNow {
    background-color: pink;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;

    @include mixins.desktop {
      font-size: 12px;
    }
  }

  &__noNeedToFeed {
    background-color: blueviolet;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;

    @include mixins.desktop {
      font-size: 12px;
    }
  }
}

.allAnimalsFed {
  background-color: rgb(158, 221, 173);
}

.allAnimalsNotFed {
  background-color: rgb(181, 72, 72);
}
