@use "variables" as v;
@use "mixins";

.oneAnimal {
  background-color: white;
  border-radius: 20px;
  padding: 50px;
  margin: 20px;

  &__name {
    color: red($color: #000000);
    font-family: "Sigmar", cursive;
  }

  &__latin {
    color: blue($color: #000000);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
  }

  &__image {
    width: 55%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__longdescription {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
  }
}

button {
  width: 20%;
  justify-content: center;
  align-items: center;
  font-family: "Sigmar", cursive;
  color: white;
  background-color: rgb(98, 66, 15);
  border-radius: 5px;
  padding: 10px;
}
