@use "variables" as v;
@use "mixins";

.oneAnimal {
  background-color: white;
  border-radius: 20px;
  padding: 50px;
  margin: 20px;

  &__name {
    font-family: "Sigmar", cursive;
  }

  &__latin {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
  }

  &__image {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    height: 200px;
    width: 200px;

    @include mixins.desktop {
      height: 250px;
      width: 250px;
    }
  }

  &__longdescription {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;

    @include mixins.desktop {
      font-size: 12px;
    }
  }
}

button {
  width: 20%;
  justify-content: center;
  align-items: center;
  font-family: "Sigmar", cursive;
  color: white;
  background-color: rgb(98, 66, 15);
  border-radius: 5px;
  width: 150px;

  @include mixins.desktop {
    font-size: 12px;
    padding: 10px;
    width: 250px;
  }
}
