@use "variables" as v;
@use "mixins";

.startpage {
  &__image {
    justify-content: center;
    align-items: center;
    width: 75%;

    @include mixins.desktop {
      width: 20%;
    }
  }

  &__title {
    color: black;
    font-family: "Sigmar", cursive;
    font-size: 50px;

    @include mixins.desktop {
      font-size: 70px;
    }
  }
}
